*{
    margin: 0;
    padding: 0;
}
.mapstyle-main{
    height: 85% !important;
}
.main-header{
    height: 6rem;
    width: 100%;
    background-color:white;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}
.logo-main{
    height: 100px;
    float: left;
    cursor: pointer;
    font-weight: 600;
    padding: 4vh 3vw;
    color: rgb(60 60 171);
}
.filter-icon{
    height: 35px;
    width: 138px;
    margin-top: 24px;
    margin-left:auto;
    margin-right: auto;
    color: rgb(60 60 171);
}
.maindiv-header{
    float: right;
    margin: 20px;
    display: flex;
}
.login-button-header{
    height: 36px;
    width: 100px;
    margin-right: 10px;
    border-style: rgb(60 60 171);
    background-color: rgb(60 60 171);
    color: white;
    border-style: none;
}
.user-name-header{
    margin-top: 8px;
    margin-right: 10px;
    color: rgb(69, 69, 156);
}
.menu-button-header{
    background-color: white;
    border: none;
}
/* .main-menubutton{
    float: right !important;
    background-color: white;
    border: none;
    margin: 16px -311px;
} */
.editp-icon-menubtn{
    font-size: 15px;
    margin-top: -9px;
}
.chat-icon-menubtnchat{
    font-size: 15px;
    margin-top: -7px;
}
.setting-icon-menubtn{
    font-size:17px;
}
.main-editprofile{
    text-align: center;
}
.menubar-avtar{
    height: 42px !important;
    width: 38px !important;
}
.avtar-editprofile-page{
    height: 90px !important;
    width: 90px !important;
    margin: -29px auto 0px auto;
}
.edit-avtar-modal{
    position: relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-top: -47px;
    margin-left: -13px;
}
.edit-camera-circle {
    position: relative;
    top: -25px;
    left: 30px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.edit-camera{
    color: cadetblue;
}
.mainform.edit{
    margin-top: 20px;
}
.textfieldform-edit{
    margin-top: 10px !important;
}
.mainskill-input-edit{
    margin: 7px -1px !important; 
}
.mainskill-inputheight-edit{
    height:46px;
}
.currency{
    width: 110px;
}
.Floor-edit{
    width: 30%;
   height: auto;
}
.houseno-edit{
    width: 70%;
}
.societyname-edit{
    width: 65%;
}
.postalcode-edit{
    width: 35%;
    height: auto;
}
.labelcity-input-edit{
    margin-left: -311px;
}
.timepicker-edit {
    width:320px;
}
.timepicker-edit label{
    top: 0px ;
    color: black;
    font-size: 20px;
    left: 70px;
}
.timepicker-edit input{
    border: 1px solid gray;
    height: 14px;
    width: 182px;
    border-radius: 2px;
}
.form-select-edit{
    width: 14% !important;
    margin-left: 43%;
    height: 29px;
    border: 1px solid gray !important;
    border-radius: 4px !important;
    padding:0px !important;
}

.MuiInput-underline:after{
    border-bottom: none !important;
}
.submit-btn-edit{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border: none;
    color: white;
    background:#023B54;
    border-radius: 5px; 
}
.signup-button{
    float: right;
    height: 35px;
    width: 80px;
    margin-top: 27px;
    margin-right: -180px;
    border-style: none;
    color: white;
    background-color:rgb(60 60 171);
}
.modal-dialog {
    text-align: center;
}
.hfive-header-modal{
    margin:20px; 
    color:#023B54;
}
.img-header-modal{
    height:14px;
}
.nav-tabs {
    --bs-nav-tabs-border-width: none !important;
    --bs-nav-tabs-border-color: none !important;
    --bs-nav-tabs-border-radius: none !important;
    --bs-nav-tabs-link-hover-border-color:none !important;
    --bs-nav-tabs-link-active-color:none !important;
    --bs-nav-tabs-link-active-bg: none !important;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #023B54 !important;
    border-bottom: 2px solid #023B54 !important;
    border-color: none !important;
}
.nav-link{
    color: black !important;
    font-weight: 600 !important;
}
.login-modal{
  height:250px;
  width: 450px;
  box-shadow: 5px 5px 5px 5px #ccc ;
  background: white;
  border-radius: 10px;
  z-index: 100;
}
.login-header{
    color:#023B54;
    font-size: 20px;
    margin-top: -6px;
    font-weight: 600;
}
.phone-input{
    height: 0px;
    width: 421px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.4375em !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    margin-top: -6px;
}
.modal {
   --bs-modal-footer-border-width: none !important;
   top: 135px !important;
}
.modal-footer{
    display: block !important;
}
.modal-login-button{
    height: 40px;
    width: 421px;
    background-color:#023B54 !important;
    color:white !important;
    border-style: none !important;
}
.signup-login-button{
    border: none;
    background-color: white;
    cursor: pointer;
    color: #023B54;
    margin-top: 20px;
    text-decoration: underline;
}

.otp-header{
    margin-top: -6px;
    text-align: center;
    color: #023B54;
}
.otp-enterp{
    text-align: center;
    color: black;
    font-weight: 600;
}
.otp-data{
    margin-left: 25px;
    margin-top: 30px;
    justify-content: center;
}
.otp-second-content{
    margin-top: 20px;
    justify-content: center !important;
}
.otp-verify-btn{
    height: 40px;
    width: 136px;
    border-radius: 12px;
    float: right;
    border: none;
    color: white;
    margin-right: 35%;
    margin-top: 30px;
    background-color:#023B54 ;
}
.otp-second-content button{
    border:none;
    background: white;
    text-decoration: underline;
    color: rgb(60 60 171) ;
}
.otp-second-content span{
    margin-right: 10px;
}
.otheruser-avtar {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -53px;
    border-radius: 50%
}
.other-userprofile{
    width: 80%;
    height: 120px;
    background: #023B54;
    border-radius : 0 0 15px 15px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.hfive-bio-otheruser{
    text-align: center;
    margin: 10px;
    color: #023B54;
}
.pbio-otheruser{
    font-size: 14px;
    text-align: center;
    margin: 10px;
    color: gray;
}
.offset-sm-1 {
    margin-left: 17.333333% !important;
}
.mainskill-header-otheruser{
    font-weight:600;
    color: #023B54;
    font-size:16px;
}
.mainskill-fst-otheruser{
    background: #023B54 !important;
    height: 28px !important;
    width: auto;
    margin-right: 10px;
    border-radius: 6px !important;
    color: white !important;
}
.mainskill-sec-otheruser{
    margin-left: 10px;
    background: #023B54 !important;
    height: 28px !important;
    width: 80px;
    border-radius: 6px !important;
    color: white !important;
}
.otherskill-fst-otheruser{
    background:gray !important;
    height: 28px !important;
    width: 80px;
    border-radius: 6px !important;
    color: white !important;
}
.otherskill-sec-otheruser{
    margin-left: 10px;
    background: gray !important;
    height: 28px !important;
    width: 80px;
    border-radius: 6px !important;
    color: white !important;
}
.content-otheruser{
    font-weight:400;
    color: #023B54;
    font-size:15px;
}
.maindiv-otheruser{
    display:flex;
}
.hthree-maindiv-otheruser{
    margin: 40px 70px;
}
.arrowicon-button{
    height: 30px;
    width: 110px;
    position: absolute;
    right: 20%;
    border: none;
    margin-top: 47px;
    background: white;
}
.right-arrow-otheruser{
    font-size: 26px;
}
.detail-otheruser{
    margin: 30px 30px;
}
.maincard-chat{
    width: 100% ;
    height:450px;
}
.mainrow-chat{
    width: 100%;
}
.fstcol-chat{
    width: 30% !important;
}
.fstcol-header-chat{
    display: flex; 
    background:#023B54;
}
.back-icon-chat{
    margin:32px 3px;
    font-size:25px;
    color:white;
}
.header-mainavtar-chat{
    color: white;
    margin: 22px 15px;
}
.header-avtar-chat{
    margin: 8px 7px;
    width: 45px !important;
    height: 45px !important;
}
.header-search-chat{
    height: 27px !important;
    width: 169px !important;
    color: white;
    margin-top: 28px;
    position: absolute;
    left: 250px;
}
.col {
    flex: none !important;
}
.main-chat-header{
    color: #023B54;
    margin: 20px;
    font-size: 23px;
}
.fstmsg-chat{
    background:none;
    border:none;
    display:flex;
    height: 80px;
}
.title-contentmsg-chat{
    margin: 27px;
}
.content-msg-chat{
    margin-top: -15px;
    color: gray;
    margin-left: -52px;
}
.fstmsg-chat:hover{
    background:#efefef; 
    width:100%;
}
.contenttwo-msg-chat{
    margin-top: -15px;
    color: gray;
    margin-left: 3px;
}
.seccol-chat{
    width: 70% !important;
    background-color: white;
}
.seccol-chatcontent-chat{
    height: 89px;
    margin: 1px -11px;
    display: flex;
    background-color:#023B54;
}
.main-menubar-chat{
    position: absolute;
    right: 44px;
    top: 28px;
}
.badge-avtar{
    height: 18px!important;
    width: 20px !important;
    margin-top: 14px;
    margin-left: -32px;
    border-radius: 50%;
}
.time-fstchat{
    font-size: 11px;
    font-weight: 500;
    color: #8080807d;
    margin: -4px 48px;
}
.badge-avtar-tochat{
    height: 18px!important;
    width: 20px !important;
    margin-top: 19px;
    float: right;
    margin-right: -11px;
    border-radius: 50%;
}
.time-fstchat-tofst{
    float: right;
    font-size: 11px;
    font-weight: 500;
    color: #8080807d;
    margin: 37px -79px
}
.avtarfst-chat{
    height: 50px!important;
    width:50px !important;
    margin: 9px;
    border-radius: 50%;
}
.headerchat-seccol-chat{
    margin:30px 20px;
    color: white;
}
.righticon-menubar-chat{
    margin-right: 23px;
    font-size: 21px;
    color: white;
}
.menubtn-chat{
    border: none;
    background: white;
}
.otheruser-badges-leftchat{
    margin-top: 20px;
    padding: 10px !important;
    height: 34px;
    width: 88px;
    color:#023B54 !important;
}
.user-badges-rightchat{
    float: right;
    background-color:#023B54 !important;
    color: white !important;
    padding: 10px !important;
    height: 34px;
    width: 88px;
}
.user-badgessec-rightchat{
    float: right;
    background-color: #023B54 !important;
    color: white !important;
    padding: 10px !important;
    height: 34px;
    width: 157px;
}
.main-footer-chat{
    margin: 0px -11px;
    margin-top: 205px;
    height: 50px;
    display: flex;
    background-color: #e3e3e3;
}
.button-send-chat{
    background-color:#023B54  !important;
}
.imageicon-footer-chat{
    font-size: 20px;
    margin: 15px 5px;
}
.typeingbar-chat{
    height: 50px;
    position: relative;
    top: 0px;
    background-color: #e3e3e3 !important;
    border: none !important;
    border-radius: 0px !important;
    width: 100% !important;
}
.sendicon-footer-chat{
    margin:9px 20px;
    font-size: 20px;
}
.infowindow-main{
    display: flex;
}
.infowindow-img{
    height:40px;
}
.infowindow-content{
    font-size: 30px;
    margin: 8px 6px;
    color: blue;
}
/* .member-modal{
    font-size: 13px;
    margin-top: 20px;
    margin-left: -37px;
}
.signup-login-modal{
    font-size: 12px;
    margin-top: -18px;
    margin-left: 141px;
} */
@media only screen and (min-width:300px) and ( max-width:800px){
.mapstyle-main{
    height: 89% !important;
}
.login-button {
    margin: -68px 60px;
}
.main-menubutton {
    margin: -72px 13px;
}
.phone-input,.modal-login-button{
    width: 313px;
}
.otp-data {
    margin-left: 26px;
    margin-top: 32px;
}
.otp-verify-btn {
    margin-right: 28%;
    margin-top: 20px;
}
.mainrow-chat {
    --bs-gutter-x: none !important;
}
.fstcol-chat {
    width: 100% !important;
}
.seccol-chat {
    width: 0px !important;
    display: none !important;
}
}
/* .colSize {
    width: 100%;
} */

